/*------------------------------------------------------------------

[Application.css]

	Project:		Dashboard
	Version:		1.0
	Last change:	10/10/2012	


-------------------------------------------------------------------*/
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*------------------------------------------------------------------

[Typography Styles]

-------------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: 600;
}
h1 + hr,
h2 + hr,
h3 + hr,
h4 + hr,
h5 + hr,
h6 + hr {
  margin-top: -10px;
  margin-bottom: 2.5em;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 18px;
}
p {
  margin-bottom: 1.5em;
}
ul.list li {
  margin-bottom: .65em;
}
.title {
  padding-bottom: 5px;
  margin-bottom: 1em;
  border-bottom: 1px dotted #CCC;
}
/*------------------------------------------------------------------

[Misc Styles]

-------------------------------------------------------------------*/
#flotTip {
  padding: 3px 6px !important;
  color: #FFF !important;
  font-size: 11px !important;
  text-align: center !important;
  text-decoration: none !important;
  background-color: #222 !important;
  border: 1px solid #000 !important;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  border-radius: 3px !important;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
}
.chart-holder {
  width: 100%;
  height: 325px;
}
.clear {
  clear: both;
}
.btn-big-block {
  padding: 20px;
  margin-bottom: 1em;
  font-size: 24px;
}
[class^="icon-"]:not(.ui-icon),
[class*="icon-"]:not(.ui-icon) {
  background: none;
}
.icon-white,
.nav-tabs > .active > a > [class^="icon-"],
.nav-tabs > .active > a > [class*=" icon-"],
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"] {
  background-image: none;
}
/*------------------------------------------------------------------
 
Bootstrap Styles

------------------------------------------------------------------- */
.container {
  position: relative;
}
select {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
/* Accordion */
.accordion-group {
  margin-bottom: 3px;
  border: none;
}
.accordion-group .accordion-heading {
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #444444;
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.25);
  background-color: #f8f8f8;
  background-image: -moz-linear-gradient(top, #ffffff, #eeeeee);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#eeeeee));
  background-image: -webkit-linear-gradient(top, #ffffff, #eeeeee);
  background-image: -o-linear-gradient(top, #ffffff, #eeeeee);
  background-image: linear-gradient(to bottom, #ffffff, #eeeeee);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeeeeee', GradientType=0);
  border-color: #eeeeee #eeeeee #c8c8c8;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border: 1px solid #dddddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.accordion-group .accordion-heading a {
  color: #444444;
  font-size: 13px;
  font-weight: 600;
}
.accordion-group .accordion-heading a:hover {
  text-decoration: none;
}
.accordion-group.open .accordion-heading {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #8ab15a;
  background-image: -moz-linear-gradient(top, #94ba65, #7ba349);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#94ba65), to(#7ba349));
  background-image: -webkit-linear-gradient(top, #94ba65, #7ba349);
  background-image: -o-linear-gradient(top, #94ba65, #7ba349);
  background-image: linear-gradient(to bottom, #94ba65, #7ba349);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff94ba65', endColorstr='#ff7ba349', GradientType=0);
  border-color: #7ba349 #7ba349 #536e31;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #608039;
}
.accordion-group.open .accordion-heading a {
  color: #ffffff;
}
.accordion-heading .accordion-toggle {
	display: block;
	padding: 8px 15px;
}
/* Breadcrumb */
.breadcrumb {
  padding: 12px;
  margin-bottom: 10px;
  background-color: #f8f8f8;
  background-image: -moz-linear-gradient(top, #ffffff, #eeeeee);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#eeeeee));
  background-image: -webkit-linear-gradient(top, #ffffff, #eeeeee);
  background-image: -o-linear-gradient(top, #ffffff, #eeeeee);
  background-image: linear-gradient(to bottom, #ffffff, #eeeeee);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeeeeee', GradientType=0);
  border: 1px solid #dddddd;
}
/* Buttons */
.btn-secondary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #268ead;
  background-image: -moz-linear-gradient(top, #2ca1c5, #1f718a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2ca1c5), to(#1f718a));
  background-image: -webkit-linear-gradient(top, #2ca1c5, #1f718a);
  background-image: -o-linear-gradient(top, #2ca1c5, #1f718a);
  background-image: linear-gradient(to bottom, #2ca1c5, #1f718a);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2ca1c5', endColorstr='#ff1f718a', GradientType=0);
  border-color: #1f718a #1f718a #113e4c;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #1f718a;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary.active,
.btn-secondary.disabled,
.btn-secondary[disabled] {
  color: #ffffff;
  background-color: #1f718a;
  *background-color: #1a6076;
}
.btn-secondary:active,
.btn-secondary.active {
  background-color: #154f61 \9;
}
.btn-tertiary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #979797;
  background-image: -moz-linear-gradient(top, #a6a6a6, #828282);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a6a6a6), to(#828282));
  background-image: -webkit-linear-gradient(top, #a6a6a6, #828282);
  background-image: -o-linear-gradient(top, #a6a6a6, #828282);
  background-image: linear-gradient(to bottom, #a6a6a6, #828282);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa6a6a6', endColorstr='#ff828282', GradientType=0);
  border-color: #828282 #828282 #5c5c5c;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #828282;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-tertiary:hover,
.btn-tertiary:active,
.btn-tertiary.active,
.btn-tertiary.disabled,
.btn-tertiary[disabled] {
  color: #ffffff;
  background-color: #828282;
  *background-color: #757575;
}
.btn-tertiary:active,
.btn-tertiary.active {
  background-color: #696969 \9;
}
/* Dropdowns */
.dropdown-menu {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.dropdown-menu li > a {
  padding: 5px 9px;
  margin: 0 6px;
  font-size: 12px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-menu:hover > a {
  color: #ffffff;
  background-color: #94ba65;
  background-image: -moz-linear-gradient(top, #94ba65, #94ba65);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#94ba65), to(#94ba65));
  background-image: -webkit-linear-gradient(top, #94ba65, #94ba65);
  background-image: -o-linear-gradient(top, #94ba65, #94ba65);
  background-image: linear-gradient(to bottom, #94ba65, #94ba65);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff94ba65', endColorstr='#ff94ba65', GradientType=0);
  background: #94ba65;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: #ffffff;
  background: #bbbbbb;
  text-shadow: none;
}
.dropdown-submenu > a::after {
  margin-right: .25em;
}
body:not(:-moz-handler-blocked) .dropdown-submenu > a:after {
  margin-top: -14px;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  background-color: #94ba65;
  background-image: -moz-linear-gradient(top, #94ba65, #94ba65);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#94ba65), to(#94ba65));
  background-image: -webkit-linear-gradient(top, #94ba65, #94ba65);
  background-image: -o-linear-gradient(top, #94ba65, #94ba65);
  background-image: linear-gradient(to bottom, #94ba65, #94ba65);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff94ba65', endColorstr='#ff94ba65', GradientType=0);
  background: #94ba65;
}
/* Modals */
.modal {
  border: none;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
.modal-header {
  padding: 15px;
  background-color: #264565;
  background-image: -moz-linear-gradient(top, #2b4e72, #1e3751);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2b4e72), to(#1e3751));
  background-image: -webkit-linear-gradient(top, #2b4e72, #1e3751);
  background-image: -o-linear-gradient(top, #2b4e72, #1e3751);
  background-image: linear-gradient(to bottom, #2b4e72, #1e3751);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2b4e72', endColorstr='#ff1e3751', GradientType=0);
  border: 1px solid #0f1b28;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.modal-header h1,
.modal-header h2,
.modal-header h3,
.modal-header h4,
.modal-header h5,
.modal-header h6 {
  margin-bottom: 0;
}
.modal-header h3 {
  color: #ffffff;
  font-weight: 600;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.modal-header .close {
  margin-top: -10px;
  color: #ffffff;
  font-size: 18px;
  opacity: 1;
  filter: alpha(opacity=100);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.modal-header .close:hover {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: 0.55;
  filter: alpha(opacity=55);
}
/* Nav Pills */
.nav-pills > li > a {
  margin-right: .75em;
  color: #333333;
  background-color: #eeeeee;
  text-shadow: none;
}
.nav-pills > li > a:hover {
  color: #333333;
  background-color: #dddddd;
  text-shadow: none;
}
.nav-pills > li .dropdown-toggle .caret,
.nav-pills > li .dropdown-toggle:hover .caret {
  border-top-color: #333333;
  border-bottom-color: #333333;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover {
  color: #ffffff;
  background-color: #94ba65;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.nav-pills > li.active .dropdown-toggle .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
/* Nav Stacked */
.nav-list > li > a {
  padding: 6px 15px;
  color: #222;
}
.nav-list > .active > a,
.nav-list > .active > a:hover {
  background-color: #94ba65;
}
.nav-stacked i {
  margin-top: 4px;
  margin-right: .5em;
}
.nav-stacked .icon-chevron-right {
  float: right;
  margin-top: 5px;
  margin-right: 0;
  color: #AAA;
  text-shadow: none;
}
.nav-stacked.nav-pills .icon-chevron-right {
  margin-top: 0;
}
.nav-stacked li a {
  color: #555555;
  font-size: 13px;
  font-weight: 600;
  background-color: #ffffff;
}
.nav-stacked li a:hover {
  color: #555555;
  background-color: #eeeeee;
}
.nav-stacked li.active a,
.nav-stacked li.active a:hover {
  color: #ffffff;
  background-color: #94ba65;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.nav-stacked li.active .icon-chevron-right {
  color: #ffffff;
}
/* Pagination */
.pagination ul li a {
  padding: 0 10px;
  margin-right: .5em;
  line-height: 32px;
  color: #444444;
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.25);
  background-color: #f8f8f8;
  background-image: -moz-linear-gradient(top, #ffffff, #eeeeee);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#eeeeee));
  background-image: -webkit-linear-gradient(top, #ffffff, #eeeeee);
  background-image: -o-linear-gradient(top, #ffffff, #eeeeee);
  background-image: linear-gradient(to bottom, #ffffff, #eeeeee);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeeeeee', GradientType=0);
  border-color: #eeeeee #eeeeee #c8c8c8;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.pagination ul li a:hover {
  color: #444444;
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.25);
  background-color: #eeeeee;
  background-image: -moz-linear-gradient(top, #f5f5f5, #e4e4e4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#e4e4e4));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #e4e4e4);
  background-image: -o-linear-gradient(top, #f5f5f5, #e4e4e4);
  background-image: linear-gradient(to bottom, #f5f5f5, #e4e4e4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe4e4e4', GradientType=0);
  border-color: #e4e4e4 #e4e4e4 #bebebe;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.pagination ul li.active a {
  font-weight: 600;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.45);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.45);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.45);
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #8ab15a;
  background-image: -moz-linear-gradient(top, #94ba65, #7ba349);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#94ba65), to(#7ba349));
  background-image: -webkit-linear-gradient(top, #94ba65, #7ba349);
  background-image: -o-linear-gradient(top, #94ba65, #7ba349);
  background-image: linear-gradient(to bottom, #94ba65, #7ba349);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff94ba65', endColorstr='#ff7ba349', GradientType=0);
  border-color: #7ba349 #7ba349 #536e31;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.pagination ul li:first-child a,
.pagination ul li:last-child a {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
/* Progress Bars */
.progress,
.progress .bar {
  height: 22px;
  line-height: 22px;
}
.progress .bar {
  font-size: 11px;
  font-weight: 600;
}
.progress .bar {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #3b6c9e;
  background-image: -moz-linear-gradient(top, #4074aa, #35608c);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4074aa), to(#35608c));
  background-image: -webkit-linear-gradient(top, #4074aa, #35608c);
  background-image: -o-linear-gradient(top, #4074aa, #35608c);
  background-image: linear-gradient(to bottom, #4074aa, #35608c);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4074aa', endColorstr='#ff35608c', GradientType=0);
  border-color: #35608c #35608c #203a54;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.progress.progress-striped .bar {
  background-color: #4074aa;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-primary .bar {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #88ae59;
  background-image: -moz-linear-gradient(top, #94ba65, #759c46);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#94ba65), to(#759c46));
  background-image: -webkit-linear-gradient(top, #94ba65, #759c46);
  background-image: -o-linear-gradient(top, #94ba65, #759c46);
  background-image: linear-gradient(to bottom, #94ba65, #759c46);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff94ba65', endColorstr='#ff759c46', GradientType=0);
  border-color: #759c46 #759c46 #4e672e;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.progress-primary.progress-striped .bar {
  background-color: #94ba65;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-secondary .bar {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #23809c;
  background-image: -moz-linear-gradient(top, #2790b0, #1c677e);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2790b0), to(#1c677e));
  background-image: -webkit-linear-gradient(top, #2790b0, #1c677e);
  background-image: -o-linear-gradient(top, #2790b0, #1c677e);
  background-image: linear-gradient(to bottom, #2790b0, #1c677e);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2790b0', endColorstr='#ff1c677e', GradientType=0);
  border-color: #1c677e #1c677e #0e343f;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.progress-secondary.progress-striped .bar {
  background-color: #2790b0;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-tertiary .bar {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #8d8d8d;
  background-image: -moz-linear-gradient(top, #999999, #7a7a7a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#999999), to(#7a7a7a));
  background-image: -webkit-linear-gradient(top, #999999, #7a7a7a);
  background-image: -o-linear-gradient(top, #999999, #7a7a7a);
  background-image: linear-gradient(to bottom, #999999, #7a7a7a);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff999999', endColorstr='#ff7a7a7a', GradientType=0);
  border-color: #7a7a7a #7a7a7a #545454;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.progress-tertiary.progress-striped .bar {
  background-color: #999999;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
/* Tables */
.table tbody tr td {
  padding-top: 13px;
  padding-bottom: 13px;
}
.table-bordered thead tr {
  background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #eeeeee, #dadada);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eeeeee), to(#dadada));
  background-image: -webkit-linear-gradient(top, #eeeeee, #dadada);
  background-image: -o-linear-gradient(top, #eeeeee, #dadada);
  background-image: linear-gradient(to bottom, #eeeeee, #dadada);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeeeeee', endColorstr='#ffdadada', GradientType=0);
}
.table-bordered thead tr th {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 13px;
  font-weight: 600;
  color: #444;
  border-left: 1px solid #F1F1F1;
  border-right: 1px solid #CCC;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
}
.table-bordered thead tr th:first-child {
  border-left-color: #CCC;
}
.table-bordered thead tr th:last-child {
  border-right: none;
}
.table-bordered tbody tr:first-child td {
  border-top-color: #CCC;
}
.table-bordered tbody tr td {
  border-left: 1px solid #FFF;
  border-right: 1px solid #DDD;
}
.table-bordered tbody tr td:first-child {
  border-left-color: #DDD;
}
.table-bordered tbody tr td:last-child {
  border-right: none;
}
.table-bordered thead tr {
  background: #EEE;
  background: -moz-linear-gradient(top, #eeeeee 0%, #dadada 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #dadada));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #eeeeee 0%, #dadada 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #eeeeee 0%, #dadada 100%);
  /* Opera11.10+ */

  background: -ms-linear-gradient(top, #eeeeee 0%, #dadada 100%);
  /* IE10+ */

  background: linear-gradient(top, #eeeeee 0%, #dadada 100%);
  /* W3C */

  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEEEEE', endColorstr='#DADADA')";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEEEEE', endColorstr='#DADADA');
}
.table-bordered thead th {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 13px;
  font-weight: 400;
  color: #444;
  border-left: 1px solid #F1F1F1;
  border-right: 1px solid #CCC;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
}
.table-bordered thead th:first-child {
  border-left-color: #CCC;
}
.table-bordered thead th:last-child {
  border-right: none;
}
.table-bordered tbody td {
  border-left: 1px solid #FFF;
  border-right: 1px solid #DDD;
}
.table-bordered tbody tr td:first-child {
  border-left-color: #DDD;
}
.table-bordered tbody tr td:last-child {
  border-right: none;
}
.table-highlight.table-bordered thead tr {
  background-color: #254463;
  background-image: -moz-linear-gradient(top, #2b4e72, #1d354d);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2b4e72), to(#1d354d));
  background-image: -webkit-linear-gradient(top, #2b4e72, #1d354d);
  background-image: -o-linear-gradient(top, #2b4e72, #1d354d);
  background-image: linear-gradient(to bottom, #2b4e72, #1d354d);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2b4e72', endColorstr='#ff1d354d', GradientType=0);
}
.table-highlight.table-bordered thead th {
  color: #FFF;
  border-right: 1px solid #16283a;
  border-left: 1px solid #396797;
  -webkit-box-shadow: inset 0 1px 0 #4981ba;
  -moz-box-shadow: inset 0 1px 0 #4981ba;
  box-shadow: inset 0 1px 0 #4981ba;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.table-highlight.table-bordered tbody tr:nth-child(odd) td,
.table-highlight.table-bordered tbody tr:nth-child(odd) th {
  background-color: #F0F3F7;
}
.table-highlight.table-bordered {
  border-top: 1px solid #1C2B37;
}
/* Wells */
.well {
  border-color: #D7D7D7;
  border-color: rgba(0, 0, 0, 0.12);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
}
/* Labels & Badges */
.label.label-primary {
  background-color: #94ba65;
}
.label.label-secondary {
  background-color: #2790b0;
}
.label.label-tertiary {
  background-color: #999999;
}
.badge.badge-primary {
  background-color: #94ba65;
}
.badge.badge-secondary {
  background-color: #2790b0;
}
.badge.badge-tertiary {
  background-color: #999999;
}
/*------------------------------------------------------------------
 
jQuery UI Styles

------------------------------------------------------------------- */
/* Sliders */
.ui-slider {
  position: relative;
  text-align: left;
}
.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 25px;
  height: 16px;
  background: url(../img/jquery/handle.png) no-repeat;
  border: none;
  cursor: pointer;
}
.ui-slider .ui-slider-handle:hover {
  background-position: 0 -16px;
}
.ui-slider .ui-slider-handle:active {
  background-position: 0 -16px;
}
.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  height: 6px;
  font-size: .7em;
  display: block;
  border: 1px solid #FFF;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35);
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #497eb4;
  background-image: -moz-linear-gradient(top, #5086bd, #3f71a6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5086bd), to(#3f71a6));
  background-image: -webkit-linear-gradient(top, #5086bd, #3f71a6);
  background-image: -o-linear-gradient(top, #5086bd, #3f71a6);
  background-image: linear-gradient(to bottom, #5086bd, #3f71a6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5086bd', endColorstr='#ff3f71a6', GradientType=0);
  border-color: #3f71a6 #3f71a6 #2a4b6e;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.ui-slider.slider-primary .ui-slider-range {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #9cbf71;
  background-image: -moz-linear-gradient(top, #aac885, #88b253);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#aac885), to(#88b253));
  background-image: -webkit-linear-gradient(top, #aac885, #88b253);
  background-image: -o-linear-gradient(top, #aac885, #88b253);
  background-image: linear-gradient(to bottom, #aac885, #88b253);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffaac885', endColorstr='#ff88b253', GradientType=0);
  border-color: #88b253 #88b253 #608039;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.ui-slider.slider-secondary .ui-slider-range {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #2588a6;
  background-image: -moz-linear-gradient(top, #2790b0, #217c97);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2790b0), to(#217c97));
  background-image: -webkit-linear-gradient(top, #2790b0, #217c97);
  background-image: -o-linear-gradient(top, #2790b0, #217c97);
  background-image: linear-gradient(to bottom, #2790b0, #217c97);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2790b0', endColorstr='#ff217c97', GradientType=0);
  border-color: #217c97 #217c97 #144858;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.ui-slider.slider-tertiary .ui-slider-range {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #939393;
  background-image: -moz-linear-gradient(top, #999999, #8a8a8a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#999999), to(#8a8a8a));
  background-image: -webkit-linear-gradient(top, #999999, #8a8a8a);
  background-image: -o-linear-gradient(top, #999999, #8a8a8a);
  background-image: linear-gradient(to bottom, #999999, #8a8a8a);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff999999', endColorstr='#ff8a8a8a', GradientType=0);
  border-color: #8a8a8a #8a8a8a #636363;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.ui-slider-horizontal {
  height: 8px;
}
.ui-slider-horizontal .ui-slider-handle {
  top: -4px;
  margin-left: -0.6em;
}
.ui-slider-horizontal .ui-slider-range {
  top: -1px;
  height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
  left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
  right: 0;
}
.ui-slider-vertical {
  width: 9px;
  height: 100px;
}
.ui-slider-vertical .ui-slider-handle {
  left: -3px;
  margin-left: 0;
  margin-bottom: -0.6em;
  width: 15px;
  height: 24px;
  background: url(../img/jquery/handle-vertical.png) no-repeat;
}
.ui-slider-vertical .ui-slider-handle:hover {
  background-position: 0 -24px;
}
.ui-slider-vertical .ui-slider-handle:active {
  background-position: 0 -24px;
}
.ui-slider-vertical .ui-slider-range {
  left: 0;
  width: 7px;
}
.ui-slider-vertical .ui-slider-range-min {
  bottom: 0;
}
.ui-slider-vertical .ui-slider-range-max {
  top: 0;
}
/* Datepickers */
.ui-datepicker {
  padding: .35em .35em 0;
}
.ui-datepicker th {
  font-weight: bold;
  color: gray;
}
.ui-datepicker .ui-widget-header {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #88ae59;
  background-image: -moz-linear-gradient(top, #94ba65, #759c46);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#94ba65), to(#759c46));
  background-image: -webkit-linear-gradient(top, #94ba65, #759c46);
  background-image: -o-linear-gradient(top, #94ba65, #759c46);
  background-image: linear-gradient(to bottom, #94ba65, #759c46);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff94ba65', endColorstr='#ff759c46', GradientType=0);
  border-color: #759c46 #759c46 #4e672e;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border: 1px solid #6d9141;
  -webkit-box-shadow: inset 0 1px 0 #c0d6a4;
  -moz-box-shadow: inset 0 1px 0 #c0d6a4;
  box-shadow: inset 0 1px 0 #c0d6a4;
}
.ui-datepicker td a {
  margin-bottom: 0px;
  border: 0px;
}
.ui-datepicker td:hover {
  color: #ffffff;
}
.ui-datepicker td .ui-state-default {
  padding: 6px;
  margin-bottom: 0px;
  color: #505050;
  font-size: 11px;
  text-align: center;
  background: none;
  filter: none;
  border: 0px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.25);
}
.ui-datepicker td .ui-state-default:hover {
  color: #ffffff;
  background: #999999;
  text-shadow: none;
}
.ui-datepicker td .ui-state-active {
  margin-bottom: 0px;
  color: #ffffff;
  font-size: normal;
  background: #94ba65;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.ui-datepicker .ui-state-hover,
.ui-datepicker .ui-widget-content .ui-state-hover,
.ui-datepicker .ui-widget-header .ui-state-hover,
.ui-datepicker .ui-state-focus,
.ui-datepicker .ui-widget-content .ui-state-focus,
.ui-datepicker .ui-widget-header .ui-state-focus {
  background: #ffffff;
  border: 1px solid #6d9141;
}
.ui-datepicker-today a:hover {
  color: #ffffff;
  background-color: #94ba65;
}
.ui-datepicker-today a {
  padding: 0 1px;
  margin-bottom: 0px;
  background-color: #999999;
  cursor: pointer;
}
.ui-datepicker-next-hover .ui-icon,
.ui-datepicker-prev-hover .ui-icon {
  background-color: #ffffff;
  background-image: url(../css/ui-lightness/images/ui-icons_222222_256x240.png);
  opacity: .5;
}
/*------------------------------------------------------------------
 
Signin

------------------------------------------------------------------- */
body.login {
  color: #838383;
  font: 13px/1.7em 'Open Sans';
  background: url(../img/signin/login-bg.png);
}
.account-container {
  width: 380px;
  display: block;
  margin: 85px auto 0 auto;
  background: #f9f9f9;
  border: 1px solid #d5d5d5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.account-container h1 {
  margin-bottom: .4em;
  color: #263849;
  font-size: 30px;
}
.content {
  padding: 16px 28px 23px;
}
.login-fields .field {
  margin-bottom: 1.25em;
}
.login-fields label {
  display: none;
}
.login-fields input {
  font-family: 'Open Sans';
  font-size: 13px;
  color: #8e8d8d;
  padding: 11px 15px 10px 50px;
  background-color: #fdfdfd;
  width: 255px;
  display: block;
  margin: 0;
  box-shadow: inset 2px 2px 4px #f1f1f1;
}
.login-fields .username-field {
  background: url(../img/signin/user.png) no-repeat;
}
.login-fields .password-field {
  background: url(../img/signin/password.png) no-repeat;
}
.login-actions {
  float: left;
  width: 100%;
  margin-top: -1em;
  margin-bottom: 1.25em;
}
.login-social {
  float: left;
  padding: 10px 0 15px;
  border: 1px dotted #CCC;
  border-right: none;
  border-left: none;
}
.login-social p {
  margin-bottom: 1em;
}
.login-extra {
  display: block;
  width: 300px;
  margin: 1.5em auto;
  text-align: center;
  line-height: 19px;
  text-shadow: 1px 1px 0px #fff;
}
span.login-checkbox {
  float: left;
  margin-top: 31px;
}
span.login-checkbox > input[type='checkbox'] {
  opacity: 0;
  float: left;
  width: 15px;
}
span.login-checkbox > input[type='checkbox'] + label {
  clear: none;
  height: 15px;
  display: block;
  padding: 0 0 0 22px;
  margin: 0;
  font-size: 12px;
  line-height: 1.2em;
  background: url(../img/signin/check.png) no-repeat 0 0;
  cursor: pointer;
}
span.login-checkbox > input[type='checkbox']:checked + label {
  background-position: 0 -15px;
}
/** Buttons **/
.twitter,
.fb {
  position: relative;
  height: 32px;
  width: 157px;
  display: inline-block;
  background: url(../img/signin/twitter_btn.png) no-repeat;
}
.twitter:active,
.fb:active {
  top: 1px;
}
.twitter:hover,
.fb:hover {
  background-position: 0 -32px;
}
.twitter a,
.fb a {
  padding: 5px 0 0 35px;
  text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.3);
  color: #fff;
  font-weight: bold;
  font-size: 11px;
  height: 32px;
  display: block;
}
.twitter a:hover,
.fb a:hover {
  color: #FFF;
  text-decoration: none;
}
.fb {
  width: 162px;
  background: url(../img/signin/fb_btn.png) no-repeat;
}
.fb a {
  padding: 5px 0 0 31px;
}
.button {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  float: right;
  margin-top: 18px;
}
.register .login-social {
  margin-bottom: 1em;
}
.register .login-actions {
  margin-bottom: 0;
}
.register .login-fields input {
  width: 299px;
  padding-left: 6px;
}
.register h1 {
  color: #444;
}
.register span.login-checkbox {
  position: relative;
  top: -6px;
  width: 200px;
}
.register span.login-checkbox > input[type="checkbox"] + label {
  position: relative;
  line-height: 1.3em;
}
@media (max-width: 480px) {
  .account-container {
    width: 280px;
    margin-top: 35px;
  }
  .login-fields input {
    width: 160px;
  }
  .login-social {
    width: 100%;
  }
  .twitter {
    display: block;
    margin-bottom: 1em;
  }
  .register .login-fields input {
    width: 204px;
    padding-left: 6px;
  }
}
/*------------------------------------------------------------------
 
Validation Styles

------------------------------------------------------------------- */
.control-group span.error {
  color: #B94A48;
  font-size: 11px;
  font-weight: 600;
  position: relative;
  top: 5px;
  padding: 4px 8px;
  margin-bottom: 1em;
  color: #FFF;
  background: #B94A48;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35);
}
.control-group span.error::after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #B94A48;
  position: absolute;
  top: -6px;
  left: 7px;
}
.control-group.error {
  padding-bottom: .5em;
}
.control-group.error div.clean {
  display: none;
}
.control-group.success span.error {
  display: none !important;
}
.control-group.success span.error::after {
  border: none;
}
.control-group.success div.clean {
  position: relative;
  top: 5px;
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url(../img/validation/validation-success.png) no-repeat 0 0;
}
.control-group.success input + div.clean,
.control-group.success select + div.clean,
.control-group.success textarea + div.clean {
  left: 8px;
}
/*------------------------------------------------------------------
 
Shortcuts

------------------------------------------------------------------- */
.shortcuts {
  text-align: center;
}
.shortcuts .shortcut {
  width: 30%;
  display: inline-block;
  padding: 12px 0;
  margin: 0 .9% 1em;
  vertical-align: top;
  text-decoration: none;
  background-color: #f3f3f3;
  background-image: -moz-linear-gradient(top, #fafafa, #e9e9e9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#e9e9e9));
  background-image: -webkit-linear-gradient(top, #fafafa, #e9e9e9);
  background-image: -o-linear-gradient(top, #fafafa, #e9e9e9);
  background-image: linear-gradient(to bottom, #fafafa, #e9e9e9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffafafa', endColorstr='#ffe9e9e9', GradientType=0);
  border: 1px solid #D8D8D8;
  border-radius: 5px;
}
.shortcuts .shortcut:hover {
  background: #E8E8E8;
}
.shortcuts .shortcut:hover .shortcut-icon {
  color: #666;
}
.shortcuts .shortcut .shortcut-icon {
  width: 100%;
  margin-top: .25em;
  margin-bottom: .65em;
  font-size: 32px;
  color: #888;
}
.shortcuts .shortcut .shortcut-label {
  display: block;
  font-weight: 600;
  color: #666;
}
.shortcuts.cols-3 .shortcut {
  width: 29%;
}
.shortcuts.cols-2 .shortcut {
  width: 47%;
}
@media (max-width: 979px) {
  .shortcuts .shortcut .shortcut-icon {
    font-size: 24px;
  }
  .shortcuts .shortcut .shortcut-label {
    font-size: 11px;
  }
}
/*------------------------------------------------------------------
 
Pricing Styles

------------------------------------------------------------------- */
.plan-container {
  position: relative;
  float: left;
  margin-bottom: 2em;
}
/*-- Plan --*/
.plan {
  margin-right: 6px;
  border-radius: 4px;
}
/*-- Plan Header --*/
.plan-header {
  text-align: center;
  color: #ffffff;
  background-color: #676767;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.plan-header .plan-title {
  padding: 10px 0;
  font-size: 16px;
  color: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px 4px 0 0;
}
.plan-header .plan-price {
  padding: 20px 0 10px;
  font-size: 66px;
  line-height: 0.8em;
  background-color: #797979;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.plan-header .plan-price span.term {
  display: block;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 0;
  padding: 2em 0 1em;
}
.plan-header .plan-price span.note {
  position: relative;
  top: -40px;
  display: inline;
  font-size: 17px;
  line-height: 0.8em;
}
/*-- Best Value Highlight --*/
.plan-container.best-value .plan-header {
  color: #ffffff;
  background-color: #83ae4e;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.plan-container.best-value .plan-price {
  background-color: #94ba65;
}
/*-- Plan Features --*/
.plan-features {
  padding-bottom: 1em;
  border: 1px solid #DDD;
  border-bottom: none;
}
.plan-features ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.plan-features ul li {
  padding: 1em 0;
  margin: 0 2em;
  text-align: center;
  border-bottom: 1px dotted #CCC;
}
.plan-features ul li:last-child {
  border-bottom: none;
}
/*-- Plan Actions --*/
.plan-actions {
  padding: 1.15em 0;
  background-color: #f1f1f1;
  background-image: -moz-linear-gradient(top, #f8f8f8, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f8f8f8), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #f8f8f8, #e6e6e6);
  background-image: -o-linear-gradient(top, #f8f8f8, #e6e6e6);
  background-image: linear-gradient(to bottom, #f8f8f8, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8f8f8', endColorstr='#ffe6e6e6', GradientType=0);
  border: 1px solid #DDD;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.plan-actions .btn {
  padding: 1em 0;
  margin: 0 2em;
  display: block;
  font-size: 16px;
  font-weight: 600;
}
/*-- Columns --*/
.pricing-plans.plans-1 .plan-container {
  width: 100%;
}
.pricing-plans.plans-2 .plan-container {
  width: 50%;
}
.pricing-plans.plans-3 .plan-container {
  width: 33.33%;
}
.pricing-plans.plans-4 .plan-container {
  width: 25%;
}
/*------------------------------------------------------------------
[2. Min Width: 767px / Max Width: 979px]
*/
@media (min-width: 767px) and (max-width: 979px) {
  .pricing-plans .plan-container {
    width: 50% !important;
    margin-bottom: 2em;
  }
}
@media (max-width: 767px) {
  .pricing-plans .plan-container {
    width: 100% !important;
    margin-bottom: 2em;
  }
}
/*------------------------------------------------------------------
 
Faq Styles

------------------------------------------------------------------- */
.faq-container .faq-search {
  margin-bottom: 2em;
  text-align: right;
}
.faq-container .faq-search input {
  width: 96%;
  display: block;
  padding: 2%;
}
.faq-container .faq-empty {
  display: none;
}
.faq-container .faq-toc {
  padding: 1.5em 0;
  margin: 2em 0 0;
  border: 1px dotted #CCC;
  border-right: none;
  border-left: none;
}
.faq-container .faq-toc ol {
  padding: 0;
  margin: 0;
}
.faq-container .faq-toc ol li {
  margin-bottom: .75em;
  list-style: none;
}
.faq-container .faq-toc ol li a {
  margin-left: .5em;
}
.faq-container .faq-list {
  padding: 0;
  margin: 3em 0 0;
  list-style: none;
}
.faq-container .faq-list li {
  display: table;
  margin-bottom: 2em;
}
.faq-container .faq-list li .faq-icon {
  display: table-cell;
  padding-right: 1.25em;
  vertical-align: top;
}
.faq-container .faq-list li .faq-text {
  display: table-cell;
  vertical-align: top;
}
.faq-container .faq-list li .faq-text h4 {
  margin-top: 0;
}
.faq-container .faq-list li .faq-number {
  width: 32px;
  height: 32px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  line-height: 32px;
  color: #ffffff;
  background: #94ba65;
  border: 3px solid #ffffff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  border-radius: 100px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
/*------------------------------------------------------------------
 
Error

------------------------------------------------------------------- */
.error-container {
  margin-top: 1em;
  margin-bottom: 6em;
  text-align: center;
}
.error-container h1 {
  margin-bottom: .5em;
  font-size: 120px;
  line-height: 1em;
}
.error-container h2 {
  margin-bottom: .75em;
  font-size: 28px;
}
.error-container .error-details {
  margin-bottom: 1.5em;
  font-size: 16px;
}
.error-container .error-actions a {
  margin: 0 .5em;
}
@media (max-width: 480px) {
  .error-container h1 {
    font-size: 72px;
  }
}
/*------------------------------------------------------------------
 
Item Layout

------------------------------------------------------------------- */
.item-row {
  display: table;
  width: 100%;
  padding-bottom: 3.5em;
  margin-bottom: 3.5em;
  border-bottom: 1px dotted #BBB;
}
.item-row .item-label {
  display: table-cell;
  vertical-align: top;
  width: 200px;
  font-size: 13px;
  font-weight: 600;
}
.item-row .item-content {
  display: table-cell;
}
@media (max-width: 767px) {
  .item-row {
    display: block;
    *zoom: 1;
  }
  .item-row:before,
  .item-row:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .item-row:after {
    clear: both;
  }
  .item-row .item-label {
    display: block;
    width: 100%;
    margin-bottom: 1.5em;
  }
  .item-row .item-content {
    display: block;
    width: 100%;
  }
}
/*------------------------------------------------------------------
 
Gallery

------------------------------------------------------------------- */
.gallery-container {
  margin: 0;
  margin-bottom: 20px;
  list-style: none;
  text-align: center;
}
.gallery-container li {
  width: 200px;
  display: inline-block;
  vertical-align: top;
  margin: 0 5px;
  margin-bottom: 2em;
  border: 1px solid #d3d3d3;
  position: relative;
  padding: 7px;
  box-sizing: border-box;
}
.gallery-container img {
  position: relative;
  z-index: 10;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
}
.stat {
  display: inline-block;
}
.stacked,
.gallery-container li {
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.stacked:after,
.gallery-container li :after,
.stacked:before,
.gallery-container li :before {
  content: '';
  position: absolute;
  display: block;
  height: 1px;
  bottom: -3px;
  left: 3px;
  right: 3px;
  background-color: #ffffff;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  border: 1px solid #d3d3d3;
  border-top: 0;
}
.stacked:before,
.gallery-container li :before {
  bottom: -5px;
  left: 6px;
  right: 6px;
}
.preview {
  position: absolute;
  top: 7px;
  left: 7px;
  z-index: 20;
  display: none;
  width: 184px;
  height: 120px;
  background-color: rgba(0, 0, 0, 0.65);
  background-image: url(../img/gallery/zoom.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
/*------------------------------------------------------------------
 
Layout: Layout

------------------------------------------------------------------- */
body {
  font: 12px/1.7em 'Open Sans', arial, sans-serif;
  background: #FFF;
}
/*------------------------------------------------------------------
 
Layout: Wrapper

------------------------------------------------------------------- */
html,
body {
  height: 100%;
}
#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -61px;
}
.push {
  height: 50px;
}
/*------------------------------------------------------------------
 
Layout: Topbar

------------------------------------------------------------------- */
#topbar {
  position: relative;
  z-index: 101;
  padding: 8px;
  background: #16283a;
  border-bottom: 1px solid #000000;
}
#topbar .badge {
  line-height: 11px;
  padding-top: 0;
  padding-bottom: 0;
  margin-right: .35em;
}
#topbar #menu-trigger {
  position: absolute;
  top: 22px;
  right: 0;
  display: none;
  color: #ffffff;
  font-size: 18px;
}
#topbar #menu-trigger:hover {
  text-decoration: none;
}
#topbar .container.open #top-nav {
  display: block;
}
#topbar #top-nav > ul > li > .dropdown-menu {
  top: 140%;
  right: auto;
  left: 0;
}
#topbar #top-nav > ul > li > .dropdown-menu::before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #AAA;
  position: absolute;
  top: -7px;
  right: auto;
  left: 9px;
}
#topbar #top-nav > ul > li > .dropdown-menu::after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid white;
  position: absolute;
  top: -6px;
  right: auto;
  left: 10px;
}
#topbar #top-nav > ul.pull-right > li > .dropdown-menu {
  left: auto;
  right: 0;
}
#topbar #top-nav > ul.pull-right > li > .dropdown-menu::before {
  left: auto;
  right: 9px;
}
#topbar #top-nav > ul.pull-right > li > .dropdown-menu::after {
  left: auto;
  right: 10px;
}
#topbar #top-nav > ul.pull-right .dropdown-submenu .dropdown-menu {
  left: auto;
  right: 100%;
}
#topbar #top-nav > ul {
  padding: 0;
  margin: 0;
}
#topbar #top-nav > ul > li {
  float: left;
  padding: 0;
  margin: 0 0 0 1.5em;
  list-style: none;
  color: #ffffff;
  font-size: 11px;
}
#topbar #top-nav > ul > li:first-child {
  margin-left: 0;
}
#topbar #top-nav > ul > li > a {
  color: #80a7cf;
}
#topbar #top-nav > ul > li > a > .caret {
  border-top-color: #80a7cf;
}
/*------------------------------------------------------------------
 
Layout: Header

------------------------------------------------------------------- */
#header {
  position: relative;
  z-index: 91;
  height: 80px;
  background: #1d354d;
  -webkit-box-shadow: inset 0 1px 0 #28496b;
  -moz-box-shadow: inset 0 1px 0 #28496b;
  box-shadow: inset 0 1px 0 #28496b;
}
#header .container {
  position: relative;
  height: 80px;
}
#header .brand {
  position: relative;
  top: 24px;
  display: block;
  overflow: hidden;
  width: 280px;
  height: 32px;
  margin-right: .75em;
  color: #FFF;
  font-size: 18px;
  font-weight: 600;
  line-height: 600;
  background: url(../img/logo.png) no-repeat 0 0;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
#header .btn-navbar {
  display: none;
  height: auto;
  padding: 14px 0 10px;
  margin-top: 25px;
  margin-right: -20px;
  margin-left: -20px;
  color: #94ba65;
  font-size: 16px;
  text-align: center;
  border-top: 1px solid #010203;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
}
#header .btn-navbar:hover {
  text-decoration: none;
}
/*------------------------------------------------------------------
 
Layout: Main Nav

------------------------------------------------------------------- */
#main-nav {
  position: relative;
  display: inline-block;
  padding: 0;
  margin-top: 6px;
  margin-right: 0;
  margin-bottom: 0;
}
#main-nav > li {
  float: left;
  padding: 0;
  margin: 0 4px 0 0;
  list-style: none;
}
#main-nav > li > a {
  padding: 10px 12px;
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
  background: transparent;
  border: 1px solid transparent;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}
#main-nav > li > a,
#main-nav > li > a:hover,
#main-nav > li.open > a {
  color: #ffffff;
  text-decoration: none;
  background-color: #1f3852;
  background-image: -moz-linear-gradient(top, #24415f, #172b3e);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#24415f), to(#172b3e));
  background-image: -webkit-linear-gradient(top, #24415f, #172b3e);
  background-image: -o-linear-gradient(top, #24415f, #172b3e);
  background-image: linear-gradient(to bottom, #24415f, #172b3e);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff24415f', endColorstr='#ff172b3e', GradientType=0);
  border: 1px solid #080f15;
  -webkit-box-shadow: inset 0 1px 0 #325b85;
  -moz-box-shadow: inset 0 1px 0 #325b85;
  box-shadow: inset 0 1px 0 #325b85;
}
#main-nav > li > a:hover,
#main-nav > li.open > a {
  background-color: #1b3148;
  background-image: -moz-linear-gradient(top, #1e3751, #16283a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1e3751), to(#16283a));
  background-image: -webkit-linear-gradient(top, #1e3751, #16283a);
  background-image: -o-linear-gradient(top, #1e3751, #16283a);
  background-image: linear-gradient(to bottom, #1e3751, #16283a);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1e3751', endColorstr='#ff16283a', GradientType=0);
}
#main-nav > li.active > a {
  color: #192d42;
  background: #ffffff;
  filter: none !important;
  border-bottom-color: #ffffff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
}
#main-nav > li > a > i {
  position: relative;
  top: 1px;
  padding-right: .35em;
  font-size: 14px;
}
#main-nav > li.nav-icon > a > i {
  padding-right: 0;
}
#main-nav > li.nav-icon > a > span {
  display: none;
}
#main-nav > li.dropdown > .dropdown-menu {
  top: 130%;
  left: auto;
  right: 0;
}
#main-nav > li.dropdown > .dropdown-menu::before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #AAA;
  position: absolute;
  top: -7px;
  right: 9px;
}
#main-nav > li.dropdown > .dropdown-menu::after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid white;
  position: absolute;
  top: -6px;
  right: 10px;
}
#main-nav .dropdown-submenu .dropdown-menu {
  left: auto;
  right: 100%;
}
#main-nav .caret {
  margin-top: 8px;
  margin-left: .25em;
  border-top-color: #FFF;
  opacity: 0.65;
  filter: alpha(opacity=65);
}
#main-nav .active .dropdown-toggle .caret {
  border-top-color: #1d354d;
}
/*------------------------------------------------------------------
 
Layout: Masthead

------------------------------------------------------------------- */
#masthead {
  width: 100%;
  padding: 20px 0;
  color: #333333;
  background-color: #f8f8f8;
  background-image: -moz-linear-gradient(top, #ffffff, #ededed);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#ededed));
  background-image: -webkit-linear-gradient(top, #ffffff, #ededed);
  background-image: -o-linear-gradient(top, #ffffff, #ededed);
  background-image: linear-gradient(to bottom, #ffffff, #ededed);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffededed', GradientType=0);
  border-bottom: 1px solid #c9c9c9;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
  text-shadow: 1px 1px 2px #FFF;
}
#masthead h1,
#masthead h2,
#masthead h3,
#masthead h4,
#masthead h5,
#masthead h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
}
#masthead p {
  margin-bottom: 0;
  font-size: 13px;
}
#masthead .masthead-pad {
  display: table;
  width: 100%;
}
#masthead .masthead-pad .masthead-icon {
  position: relative;
  display: table-cell;
  vertical-align: top;
  width: 65px;
  font-size: 50px;
  font-weight: 400;
}
#masthead .masthead-pad .masthead-icon i {
  position: relative;
  top: 15px;
}
#masthead .masthead-pad .masthead-text {
  display: table-cell;
  vertical-align: top;
}
/*------------------------------------------------------------------
 
Layout: Content

------------------------------------------------------------------- */
#content {
  margin-top: 3em;
  margin-bottom: 8em;
}
#content .row {
  margin-top: 5em;
}
#content .row:first-child {
  margin-top: 0;
}
/*------------------------------------------------------------------
 
Layout: Footer

------------------------------------------------------------------- */
#footer {
  padding: 20px 0;
  color: #ffffff;
  background: #1d354d;
  border-top: 1px solid #000000;
  -webkit-box-shadow: inset 0 1px 0 #2b4e72;
  -moz-box-shadow: inset 0 1px 0 #2b4e72;
  box-shadow: inset 0 1px 0 #2b4e72;
}
#footer a {
  color: #80a7cf;
}
#footer a:hover {
  color: #80a7cf;
  text-decoration: underline;
}
#footer #builtby {
  text-align: right;
}
/*------------------------------------------------------------------
 
Layout: Responsive

------------------------------------------------------------------- */
@media (max-width: 767px) {
  #header,
  #masthead,
  #extra,
  #footer {
    width: auto;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: -20px;
    margin-left: -20px;
  }
  #header {
    border-top: 8px solid #222;
  }
  #footer #builtby {
    text-align: left;
  }
  #topbar {
    padding: 0;
    background: none;
    border-bottom: none;
  }
  #topbar #menu-trigger {
    display: block;
  }
  #topbar #top-nav {
    top: 45px;
    right: -9px;
    z-index: 101;
    display: none;
    background: #F90;
    position: absolute;
    min-width: 160px;
    padding: 4px 0;
    margin: 1px 0 0;
    list-style: none;
    background-color: white;
    border: 1px solid #CCC;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
  }
  #topbar #top-nav .dropdown-menu {
    position: static;
    top: 0;
    right: 0;
    left: 0;
    float: none;
    display: block;
    padding: 0 0 .5em 1em;
    margin: 0;
    background: transparent;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  #topbar #top-nav .dropdown-menu::before,
  #topbar #top-nav .dropdown-menu::after {
    display: none !important;
  }
  #topbar #top-nav > ul {
    float: none;
    padding-top: .65em;
    margin: .5em .5em;
    border-top: 1px dotted #CCC;
  }
  #topbar #top-nav > ul:first-child {
    padding: 0;
    border-top: none;
  }
  #topbar #top-nav > ul > li {
    float: none;
    display: block;
    margin-left: 0;
  }
  #topbar #top-nav > ul > li a {
    display: block;
    padding: 6px 6px;
    color: #333;
  }
  #topbar #top-nav > ul > li a:hover {
    color: #ffffff;
    text-decoration: none;
    background: #94ba65;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  #topbar #top-nav > ul > li a .caret {
    border-top-color: #333;
  }
  #topbar #top-nav > ul > li a.dropdown-toggle {
    color: #333;
    background: transparent;
  }
  #topbar #top-nav::before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #CCC;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: -7px;
    right: 9px;
  }
  #topbar #top-nav::after {
    content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid white;
    position: absolute;
    top: -6px;
    right: 10px;
  }
  .chart-holder {
    width: 97%;
  }
  .row [class*="span"],
  .row-fluid [class*="span"] {
    margin-bottom: 3em;
  }
  .row [class*="span"]:last-child,
  .row-fluid [class*="span"]:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 979px) {
  .nav-collapse.in {
    height: auto !important;
  }
  #header {
    height: auto;
  }
  #header .brand {
    top: 14px;
  }
  #header .container {
    height: auto;
  }
  #header .btn-navbar {
    display: block;
  }
  #header #main-nav {
    position: static;
    display: block;
    margin-top: 0;
    margin-bottom: 1em;
  }
  #header #main-nav > li {
    float: none;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  #header #main-nav > li > a,
  #header #main-nav > li > a:hover {
    padding: 9px 12px;
    font-size: 13px;
    font-weight: 600;
    color: #FFF;
    background: none;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  #header #main-nav > li.active > a {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
  #header #main-nav > li.active > a:hover {
    color: #333;
    background: #FFF;
  }
  #header #main-nav > li.nav-icon > a > span {
    display: inline;
  }
  #header .dropdown-submenu > a::after {
    display: none;
  }
  #header .dropdown-menu > li > a {
    color: #FFF;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  }
  #header .dropdown-menu > li > a:hover {
    color: #333;
    text-shadow: none;
  }
  #header .dropdown-menu > li > a > span {
    display: inline;
  }
  #header .dropdown-menu::before {
    display: none !important;
  }
  #header .dropdown-menu::after {
    display: none !important;
  }
}
